input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #002200;
  background: yellow;
  border-radius: 1px;
  border: 1px solid #18D501;
}
